[Desktop Entry]
Name=Tauno Monitor
Exec=tauno-monitor
Icon=art.taunoerik.tauno-monitor
Terminal=false
Type=Application
Categories=GTK;
StartupNotify=true